.bg-img{

    background-image:  linear-gradient(rgba(214, 46, 51 , 0.6), rgba(214, 46, 51 , 0.6)), url(../img/events-heavenly-header.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;

}
.open{
height: 100vh;
width: 270px;
z-index: 10; 
left: -270px;
top: 0;
background-color: black;
transition: all 0.3s ease-in-out;
}
.icon{
    cursor: pointer;
    position: absolute;
    top: 70px;
    right: 50px;
    transition: all 0.3s ease-in-out
}
.icon:hover{
    color: brown;
}
ul li a{
   transition: all 0.3s ease-in-out;
}
ul li a:hover{
    color: brown;
}
.openIcon{
    right: -117px;
    font-size: 30px;
    cursor: pointer;
    top: 50%;
}
.about p{
    display: none;
}
.icons{
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-fit{
    width: fit-content;
}
.footer ul li{
    cursor: pointer;
    width: 50px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(8, 8, 8);
}
.bg-count{
    background-image:  linear-gradient(rgba(214, 46, 51 , 0.6), rgba(214, 46, 51 , 0.6)), url(../img/invitation-2508607__340.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}